# Exploratory data analysis (EDA)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('../Data/Raw/owid-covid-data.csv')

ModuleNotFoundError: No module named 'seaborn'

In [101]:
# Drop all rows where date is not equal to 01.10.2020
data.drop(data[data['date'] != "2020-10-01"].index, inplace = True)

### Columns to consider dropping: 

iso_code

date

new_cases

new_cases_smoothed

### Rows to consider dropping: 

World

International

In [102]:
# Drop columns
data.drop(['iso_code', 'date', 'new_cases', 'new_cases_smoothed', 'new_deaths', 'new_deaths_smoothed','new_cases_per_million', 'new_cases_smoothed_per_million','new_deaths_per_million', 'new_deaths_smoothed_per_million', 'new_tests', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'location', 'continent'], axis=1, inplace=True)

In [103]:
# Drop rows
#data.drop(data[data['location'] == "World"].index, inplace = True) 
#data.drop(data[data['location'] == "International"].index, inplace = True)

Left with one categorical feature

tests_units --> This feature has some strange values that is not that intuitive. E.g what is the difference between "people tested" and "tests performed"? Will however keep this feature for now, despite a high number of NaN's.

In [104]:
data.tests_units.value_counts()

tests performed                  56
samples tested                   22
people tested                    17
units unclear                     2
people tested (incl. non-PCR)     2
Name: tests_units, dtype: int64

In [105]:
# One hot encoding to convert from categorical to numerical data.
data = pd.get_dummies(data)

In [106]:
data.shape

(212, 29)

### Impute our data to remove any NaN

In [107]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imp_mean = IterativeImputer(random_state=0)
imp_mean.fit(data)

IterativeImputer(random_state=0)

In [108]:
imputed_df = imp_mean.transform(data)
data = pd.DataFrame(imputed_df, columns=data.columns)

### Scale data

In [118]:
from sklearn import preprocessing


x = data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data = pd.DataFrame(x_scaled)

In [119]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
count,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,...,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000
mean,0.009465,0.009477,0.128071,0.108196,0.074435,0.373098,0.260036,0.081177,0.272084,0.009412,...,0.354779,0.449722,0.208602,0.605041,0.606740,0.080189,0.009434,0.103774,0.264151,0.009434
std,0.071761,0.071127,0.171463,0.158270,0.069096,0.086077,0.072126,0.081146,0.117757,0.070737,...,0.157108,0.148046,0.164420,0.223199,0.247722,0.272228,0.096898,0.305688,0.441924,0.096898
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000046,0.000052,0.013483,0.012303,0.064815,0.322735,0.236892,0.045201,0.208048,0.000143,...,0.273793,0.354443,0.094526,0.486630,0.420513,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000290,0.000177,0.064645,0.047871,0.065570,0.351537,0.260475,0.073058,0.262340,0.000886,...,0.355345,0.469798,0.182847,0.649686,0.659384,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.002205,0.000970,0.173393,0.144090,0.066673,0.396349,0.262076,0.097678,0.344445,0.003389,...,0.412997,0.539189,0.267441,0.766134,0.783873,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000